<h2>Tasks</h2>

<h3><% @tasks.each do |task| %>
  <%= task.id.to_s + "." %> <%=link_to(task.title, show_path(task.id))  %>
  <br />
<% end %></h3>


<!-- link_to( post[:title], show_path(post[:id]) ) -->
