<h2>Tasks</h2>

<% counter = 1 %>
<h3><% @tasks.each do |task| %>
  <% @task = task %>
  <%= "#{counter}." %> <%=link_to(task.title, show_path(task.id))  %>

  <%= render partial: "button_file" %>

  <% counter += 1 %>
  <br />
<% end %></h3>


<!-- link_to( post[:title], show_path(post[:id]) ) -->

<!-- button_to(name = nil, options = nil, html_options = nil, &block) -->

<!-- ){action: 'delete', id: task[:id]} -->
